body{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: radial-gradient(circle, rgb(128, 113, 113), rgb(48, 47, 47));
    color: rgb(238, 247, 255);
    overflow: hidden;
}

#title{
    width: 500px;
    font-size: 48px;
    text-align: center;
    margin: 40px auto 0;
}

#subtitle{
    width: 500px;
    font-family: monospace;
    font-style: italic;
    font-size: 34px;
    text-align: center;
    margin: 40px auto 0;
}

#buttons{
    width: 650px;
    height: 200px;
    margin: 80px auto 0;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    align-items: center;
}

.btn{
    height: 100px;
    width: 180px;
    background-color: rgb(114, 71, 19, 0.3);
    color: rgb(238, 247, 255);
    font-size: 50px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s ease; 
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(162, 162, 208);
    border: 5px solid rgb(204, 204, 99);
}

#results{
    position: relative;
    width: 300px;
    height: 220px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

#results > div{
    width: 60%;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}






